{% extends "layout.html" %}

{% block title %}
    Schedule Class
{% endblock %}
{% block main %}
<h2 class="text-center">Schedule Class</h2>
<form action="/timetable" class="row g-3" method="post">
    <div class="col-3">
        <label for="grade">Select Class</label>
        <select autofocus class="form-select text-center form-control-lg" id="grade" name="grade" required>
            <option selected disabled value="">Select Class</option>
            {% for grade in grades_dict %}
                <option value="{{ grade }}">{{ grades_dict[grade] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-2">
        <label for="grade">Select Subject</label>
        <select class="form-select text-center form-control-lg" id="subject" name="subject" required>
            <option selected disabled value="">Select Subject</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Science">Science</option>
            <option value="Mathematics and Science">Mathematics and Science</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="date_given">Date Of Class</label>
        <input autocomplete="off" class="form-control form-control-lg" id="class_date" name="class_date" placeholder="Date Of Class" required type="date" value="{{ today }}">
    </div>
    <div class="col-md-2">
        <label for="start_time">Start Time</label>
        <input autocomplete="off" class="form-control form-control-lg" id="start_time" name="start_time" placeholder="Start Time" required type="time">
    </div>
    <div class="col-md-2">
        <label for="exam_time">End Time</label>
        <input autocomplete="off" class="form-control form-control-lg" id="end_time" name="end_time" placeholder="End Time" required type="time">
    </div>
    <div class="col-4"></div>
    <div class="col-md-4">
        <label for="description">Description</label>
        <textarea autocomplete="off" class="form-control form-control-lg" id="description" name="description" placeholder="Description" type="text"></textarea>
    </div>
    <div class="form-row text-center">
        <button type="submit" class="btn btn-outline-primary mb-3" name="add_new" value="add_new">Schedule Class</button>
        <button type="submit" class="btn btn-outline-success mb-3" name="add_message" value="add_message">Schedule Class and Generate Message</button>
    </div>

</form>

<br>
<h2 class="text-center">Class Schedule</h2>
    <table class="text-center table table-success table-hover table-bordered border-success align-middle">
        <thead>
            <tr class="table-danger table-bordered border-success align-middle">
                <th>Class</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Description</th>
                <th>Status</th>
                <th>More</th>
            </tr>
        </thead>
        <tbody class="table-group-divider align-middle">
            {% for timetable in timetables %}
                {% if timetable.status == 1 %}
                    {% set timetable_status = 'success' %}
                {% elif timetable.status == -1 %}
                    {% set timetable_status = 'danger' %}
                {% else %}
                    {% set timetable_status = 'warning' %}
                {% endif %}
                <tr class="table-{{ timetable_status }} table-bordered border-{{ timetable_status }} align-middle">
                    <td>{{ timetable.grade }}</td>
                    <td>{{ timetable.subject }}</td>
                    <td>{{ timetable.class_date }}</td>
                    <td>{{ timetable.start_time }}</td>
                    <td>{{ timetable.end_time }}</td>
                    <td>{{ timetable.description }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="/class_status?id={{ timetable.timetable_id }}&status=done&session={{ session }}" class="btn btn-outline-success">
                                <img src="/static/tick.png" alt="Button Icon" width="30" height="30">
                            </a>
                            <a href="/class_status?id={{ timetable.timetable_id }}&status=cancel&session={{ session }}" class="btn btn-outline-danger">
                                <img src="/static/cross.png" alt="Button Icon" width="30" height="30">
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown align-self-center">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <ul class="dropdown-menu text-center">
                                <li>
                                    <form action="/generate_message" method="POST">
                                        <input name="id" type="hidden" value="{{ timetable.timetable_id }}">
                                        <input name="session" type="hidden" value="{{ session }}">
                                        <button type="submit" class="btn btn-outline-primary me-2">Generate Message</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="/add_event" method="POST">
                                        <input name="id" type="hidden" value="{{ timetable.timetable_id }}">
                                        <input name="session" type="hidden" value="{{ session }}">
                                        <button type="submit" class="btn btn-outline-success">Add Event</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="/edit_timetable" method="POST">
                                        <input name="id" type="hidden" value="{{ timetable.timetable_id }}">
                                        <input name="session" type="hidden" value="{{ session }}">
                                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="/delete_timetable" method="POST">
                                        <input name="id" type="hidden" value="{{ timetable.timetable_id }}">
                                        <input name="session" type="hidden" value="{{ session }}">
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}