{% extends "layout.html" %}

{% block title %}
    Add Homework
{% endblock %}
{% block main %}
<h2 class="text-center">Add Homework</h2>
    {% if homework.grade %}
        <form action="/change_data" class="row g-3" method="POST">
            <input name="id" type="hidden" value="{{ homework.homework_id }}">
            <input name="session" type="hidden" value="{{ session }}">
    {% else %}
        <form action="/add_homework" class="row g-3" method="POST">
    {% endif %}
            <div class="col-3">
                <label for="grade">Select Class</label>
                <select autofocus class="form-select text-center form-control-lg" id="grade" name="grade" required>
                    {% if homework.grade %}
                        <option selected value="{{ homework.grade }}">{{ grades_dict[homework.grade] }}</option>
                    {% else %}
                        <option selected disabled value="">Select Class</option>
                    {% endif %}
                    {% for grade in grades_dict %}
                        <option value="{{ grade }}">{{ grades_dict[grade] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="title">Title</label>
                <input autocomplete="off" class="form-control form-control-lg" id="title" name="title" placeholder="Title" required type="text" value="{{ homework.title }}">
            </div>
            <div class="col-md-3">
                <label for="date_given">Date Given</label>
                <input autocomplete="off" class="form-control form-control-lg" id="date_given" name="date_given" placeholder="Date Given" required type="date" value="{{ today }}">
            </div>
            <div class="col-md-3">
                <label for="due_date">Due Date</label>
                <input autocomplete="off" class="form-control form-control-lg" id="due_date" name="due_date" placeholder="Due Given" required type="date" value="{{ homework.due_date }}">
            </div>
            <div class="col-md-2"></div>
            <div class="col-2">
                <label for="grade">Select Subject</label>
                <select class="form-select text-center form-control-lg" id="subject" name="subject" required>
                    {% if homework.grade %}
                        <option selected value="{{ homework.subject }}">{{ homework.subject }}</option>
                    {% else %}
                        <option selected disabled value="">Select Subject</option>
                    {% endif %}
                    <option value="Mathematics">Mathematics</option>
                    <option value="Science">Science</option>
                    <option value="Mathematics and Science">Mathematics and Science</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="description">Description</label>
                <textarea autocomplete="off" class="form-control form-control-lg" id="description" name="description" placeholder="Description" type="text">{{ homework.description }}</textarea>
            </div>
            <div class="form-row text-center">
                <button type="submit" class="btn btn-outline-primary mb-3" name="add_new" value="add_new">Add Homework</button>
                <button type="submit" class="btn btn-outline-success mb-3" name="add_message" value="add_message">Add Homework and Generate Message</button>
            </div>
        </form>
{% endblock %}
