{% extends "layout.html" %}

{% block title %}
    View Homework
{% endblock %}
{% block main %}
    {% if table == "homework" %}
    <h2 class="text-center">Assignments</h2>
        <table class="text-center table table-success table-hover table-bordered border-success align-middle">
            <thead>
                <tr class="table-danger table-bordered border-success align-middle">
                    <th>Title</th>
                    <th>Date Given</th>
                    <th>Due Date</th>
                    <th>Grade</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Generate Message/Add Event/Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
                {% for assignment in assignments %}
                    <tr>
                        <td>{{ assignment.title }}</td>
                        <td>{{ assignment.date_given }}</td>
                        <td>{{ assignment.due_date }}</td>
                        <td>{{ assignment.grade }}</td>
                        <td>{{ assignment.subject }}</td>
                        <td>{{ assignment.description }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form action="/generate_message" method="POST">
                                    <input name="id" type="hidden" value="{{ assignment.homework_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-primary">Generate Message</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/add_homework_event" method="POST">
                                    <input name="id" type="hidden" value="{{ assignment.homework_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-success">Add Event</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/delete_homework" method="POST">
                                    <input name="id" type="hidden" value="{{ assignment.homework_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif table == "exam" %}
    <h2 class="text-center">Tests</h2>
        <table class="text-center table table-success table-hover table-bordered border-success align-middle">
            <thead>
                <tr class="table-danger table-bordered border-success align-middle">
                    <th>Title</th>
                    <th>Class</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Marks</th>
                    <th>Subject</th>
                    <th>Portion</th>
                    <th>Generate Message/Add Event/Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
                {% for exam in assignments %}
                <tr>
                    <td>{{ exam.title }}</td>
                    <td>{{ exam.grade }}</td>
                    <td>{{ exam.exam_date }}</td>
                    <td>{{ exam.exam_time }}</td>
                    <td>{{ exam.marks }}</td>
                    <td>{{ exam.subject }}</td>
                    <td>{{ exam.portion }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <form action="/generate_message" method="POST">
                                <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                <input name="session" type="hidden" value="{{ session }}">
                                <button type="submit" class="btn btn-outline-primary">Generate Message</button>
                            </form>
                            <div class="me-2"></div>
                            <form action="/add_exam_event" method="POST">
                                <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                <input name="session" type="hidden" value="{{ session }}">
                                <button type="submit" class="btn btn-outline-success">Add Event</button>
                            </form>
                            <div class="me-2"></div>
                            <form action="/delete_exam" method="POST">
                                <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                <input name="session" type="hidden" value="{{ session }}">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                          </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif table == "outline" %}
    <h2 class="text-center">Outlines</h2>
        <table class="text-center table table-success table-hover table-bordered border-success align-middle">
            <thead>
                <tr class="table-danger table-bordered border-success align-middle">
                    <th>Title</th>
                    <th>Class</th>
                    <th>Class Date</th>
                    <th>Class Time</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Generate Message/Add Event/Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
                {% for outline in assignments %}
                <tr>
                    <td>{{ outline.title }}</td>
                    <td>{{ outline.grade }}</td>
                    <td>{{ outline.class_date }}</td>
                    <td>{{ outline.class_time }}</td>
                    <td>{{ outline.subject }}</td>
                    <td>{{ outline.description }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <form action="/generate_message" method="POST">
                                <input name="id" type="hidden" value="{{ outline.outline_id }}">
                                <input name="session" type="hidden" value="{{ session }}">
                                <button type="submit" class="btn btn-outline-primary">Generate Message</button>
                            </form>
                            <div class="me-2"></div>
                            <form action="/add_outline_event" method="POST">
                                <input name="id" type="hidden" value="{{ outline.outline_id }}">
                                <input name="session" type="hidden" value="{{ session }}">
                                <button type="submit" class="btn btn-outline-success">Add Event</button>
                            </form>
                            <div class="me-2"></div>
                            <form action="/delete_outline" method="POST">
                                <input name="id" type="hidden" value="{{ outline.outline_id }}">
                                <input name="session" type="hidden" value="{{ session }}">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif table == "timetable" %}
    <h2 class="text-center">Class Schedule</h2>
        <table class="text-center table table-success table-hover table-bordered border-success align-middle">
            <thead>
                <tr class="table-danger table-bordered border-success align-middle">
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Description</th>
                    <th>Generate Message/Add Event/Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
                {% for timetable in assignments %}
                    <tr>
                        <td>{{ timetable.grade }}</td>
                        <td>{{ timetable.subject }}</td>
                        <td>{{ timetable.class_date }}</td>
                        <td>{{ timetable.start_time }}</td>
                        <td>{{ timetable.end_time }}</td>
                        <td>{{ timetable.description }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form action="/generate_message" method="POST">
                                    <input name="id" type="hidden" value="{{ timetable.timetable_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-primary">Generate Message</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/add_timetable_event" method="POST">
                                    <input name="id" type="hidden" value="{{ timetable.timetable_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-success">Add Event</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/delete_timetable" method="POST">
                                    <input name="id" type="hidden" value="{{ timetable.timetable_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif table == "worksheet" %}
    <h2 class="text-center">Worksheet Issued</h2>
        <table class="text-center table table-success table-hover table-bordered border-success align-middle">
            <thead>
                <tr class="table-danger table-bordered border-success align-middle">
                    <th>Publication</th>
                    <th>Title</th>
                    <th>Given On</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Copies</th>
                    <th>Notes</th>
                    <th>Generate Message/Add Event/Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
                {% for worksheet in assignments %}
                    <tr>
                        <td>{{ worksheet.publication }}</td>
                        <td>{{ worksheet.title }}</td>
                        <td>{{ worksheet.given_date }}</td>
                        <td>{{ worksheet.grade }}</td>
                        <td>{{ worksheet.subject }}</td>
                        <td>{{ worksheet.copies }}</td>
                        <td>{{ worksheet.notes }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form action="/generate_message" method="POST">
                                    <input name="id" type="hidden" value="{{ worksheet.worksheet_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-primary">Generate Message</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/add_worksheet_event" method="POST">
                                    <input name="id" type="hidden" value="{{ worksheet.worksheet_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-success">Add Event</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/delete_worksheet" method="POST">
                                    <input name="id" type="hidden" value="{{ worksheet.worksheet_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% elif table == "guest" %}
    <h2 class="text-center">Guest Lectures</h2>
        <table class="text-center table table-success table-hover table-bordered border-success align-middle">
            <thead>
                <tr class="table-danger table-bordered border-success align-middle">
                    <th>Date</th>
                    <th>Class</th>
                    <th>Subject</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Generate Message/Add Event/Delete</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
                {% for guest in assignments %}
                    <tr>
                        <td>{{ guest.date_given }}</td>
                        <td>{{ guest.grade }}</td>
                        <td>{{ guest.subject }}</td>
                        <td>{{ guest.title }}</td>
                        <td>{{ guest.duration }}</td>
                        <td>{{ guest.description }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <form action="/generate_message" method="POST">
                                    <input name="id" type="hidden" value="{{ guest.guest_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-primary">Generate Message</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/add_guest_event" method="POST">
                                    <input name="id" type="hidden" value="{{ guest.guest_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-success">Add Event</button>
                                </form>
                                <div class="me-2"></div>
                                <form action="/delete_guest" method="POST">
                                    <input name="id" type="hidden" value="{{ guest.guest_id }}">
                                    <input name="session" type="hidden" value="{{ session }}">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="form-row text-center">
        <button class="btn btn-outline-secondary" onclick="history.back()">Back</button>
    </div>
{% endblock %}