{% extends "layout.html" %}

{% block title %}
    View Exam
{% endblock %}
{% block main %}
    <h2 class="text-center">Tests</h2>
        <table class="text-center table table-success table-hover table-bordered border-success align-middle">
            <thead>
                <tr class="table-primary table-bordered border-primary align-middle">
                    <th>Title</th>
                    <th>Class</th>
                    <th>Exam Date</th>
                    <th>Exam Time</th>
                    <th>Marks</th>
                    <th>Subject</th>
                    <th>Portion</th>
                    <th>Status</th>
                    <th>More</th>
                </tr>
            </thead>
            <tbody class="table-group-divider align-middle">
                {% for exam in exams %}
                    {% if exam.status == 1 %}
                        {% set exam_status = 'success' %}
                    {% elif exam.status == -1 %}
                        {% set exam_status = 'danger' %}
                    {% else %}
                        {% set exam_status = 'warning' %}
                    {% endif %}
                <tr class="table-{{ exam_status }} table-bordered border-{{ exam_status }} align-middle">
                    <td>{{ exam.title }}</td>
                    <td>{{ exam.grade }}</td>
                    <td>{{ exam.exam_date }}</td>
                    <td>{{ exam.exam_time }}</td>
                    <td>{{ exam.marks }}</td>
                    <td>{{ exam.subject }}</td>
                    <td>{{ exam.portion }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            {% if exam_status == 'danger' %}
                                <a href="/exam_status?id={{ exam.exam_id }}&status=done&session={{ session }}" class="btn btn-outline-success">
                                    <img src="/static/tick.png" alt="Button Icon" width="30" height="30">
                                </a>
                            {% elif exam_status == 'success' %}
                                <a href="/exam_status?id={{ exam.exam_id }}&status=cancel&session={{ session }}" class="btn btn-outline-danger">
                                    <img src="/static/cross.png" alt="Button Icon" width="30" height="30">
                                </a>
                            {% else %}
                                <a href="/exam_status?id={{ exam.exam_id }}&status=done&session={{ session }}" class="btn btn-outline-success">
                                    <img src="/static/tick.png" alt="Button Icon" width="30" height="30">
                                </a>
                                <a href="/exam_status?id={{ exam.exam_id }}&status=cancel&session={{ session }}" class="btn btn-outline-danger">
                                    <img src="/static/cross.png" alt="Button Icon" width="30" height="30">
                                </a>
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="dropdown align-self-center">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                            <ul class="dropdown-menu text-center">
                                <li>
                                    <form action="/generate_message" method="POST">
                                        <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                        <input name="session" type="hidden" value="{{ session }}">
                                        <button type="submit" class="btn btn-outline-primary">Generate Message</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                {% if exam.event_id %}
                                    <li>
                                        <form action="/delete_event" method="POST">
                                            <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                            <input name="session" type="hidden" value="{{ session }}">
                                            <button type="submit" class="btn btn-outline-danger">Delete Event</button>
                                        </form>
                                    </li>
                                {% else %}
                                    <li>
                                        <form action="/add_event" method="POST">
                                            <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                            <input name="session" type="hidden" value="{{ session }}">
                                            <button type="submit" class="btn btn-outline-success">Add Event</button>
                                        </form>
                                    </li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="/edit_data" method="POST">
                                        <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                        <input name="session" type="hidden" value="{{ session }}">
                                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                                    </form>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form action="/delete_exam" method="POST">
                                        <input name="id" type="hidden" value="{{ exam.exam_id }}">
                                        <input name="session" type="hidden" value="{{ session }}">
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-row text-center">
            <button class="btn btn-outline-secondary" onclick="history.back()">Back</button>
        </div>
{% endblock %}